{% extends 'layout.html' %}

{% block content %}

<main id="main">
    <header id="track-header">
        <h1>Tracks by Artist</h1>
        <h2>{{ artist_name }}</h2>
        <!-- Maybe put page number here? -->
    </header>

    <body>
        {% if track_list|length == 0 %}
            <p>No Tracks were found!<p>
        {% else %}
            {% for track in track_list %}
            <div class = 'track'><p> <a href= {{ track.track_url }}><span class="bluebutton1">{{track.title}}</span></a> </p>
                <p>Genres:
                {% for genre in track.genres %}
                    {{ genre.name }}
                {% endfor %}
                </p>
                <p>Artist: {{ track.artist.full_name }}</p>
            <p>Album: {{ track.album.title }}</p>
            </div>
            {% endfor %}
        {% endif %}
    </body>
</main>
{% endblock %}