{% extends 'layout.html' %}

{% block content %}

<main id="main">
    <header id="track-header">
        <h1>Tracks in Genre</h1>
    </header>

    <body>
        <h1>{{genre_name}}</h1>
            <br>
        {% if track_list|length == 0 %}
            <h2>No Tracks were found!</h2>
            <p>Please check if you have properly spelt and capitalised your search.</p>
        {% else %}
            <h2>List of Tracks</h2>
            {% for track in track_list %}
            <p> <a href= {{ track.track_url }}><span class="bluebutton1">{{track.title}}</span></a> </p>
                <p>Genres:
                {% for genre in track.genres %}
                {{genre.name}}
                {% endfor %}
                </p>
                <p>Artist: {{ track.artist.full_name }}</p>
            <p>Album: {{ track.album.title }}</p>
                <br>
            {% endfor %}
        {% endif %}
    </body>

</main>
{% endblock %}