{% extends 'layout.html' %}

{% block content %}

<main id="main">
    <header id="track-header">
        <h1>{{ track_name }}</h1>
        <!-- Maybe put page number here? -->
    </header>

    <body>
        {% if review_list|length == 0 %}
            <h2>No Reviews were found!</h2>
            <p>Be the first to add a review!</p>
        {% else %}
            <h2>Reviews:</h2>
            {% for review in review_list %}
            <p>{{review.review_text}}</p>
                <br>
            {% endfor %}
        {% endif %}
    </body>
</main>
{% endblock %}