<nav id="nav">
    <img id="logo" src="{{ url_for('static', filename='music_logo.png') }}" />
    
    <div>
        <a class="btn-nav" href="{{ url_for('home_bp.home') }}">HOME</a>
    </div>
    <h2 id="nav-header">
      {% if 'user_name' in session %} Hello, {{ session['user_name'] }} {%
      endif %}
    </h2>
    <a class="btn-nav" href="{{ url_for('authentication_bp.register') }}">Register</a>
    <a class="btn-nav" href="{{ url_for('authentication_bp.login') }}">Login</a>
    <a class="btn-nav" href="{{ url_for('authentication_bp.logout') }}">Logout</a>

    <div >
      <a class="btn-nav" href="{{ url_for('trackList_bp.trackList') }}">List of Tracks</a>

    </div>

    <div >
      <a class="btn-nav" href="{{ url_for('genres_bp.form_page') }}">Search by Genre</a>

    </div>

    <div >
      <a class="btn-nav" href="{{ url_for('artists_bp.form_page') }}">Search by Artist</a>

    </div>

    <div >
      <a class="btn-nav" href="{{ url_for('albums_bp.form_page') }}">Search by Album</a>

    </div>

    <div >
      <a class="btn-nav" href="{{ url_for('reviews_bp.form_page') }}">Search Reviews by track</a>

    </div>

    <div >
      <a class="btn-nav" href="{{ url_for('post_review_bp.form_page') }}">Search Reviews by track</a>

    </div>

    <div id="nav-footer">
      COMPSCI 235 Software Development Methodologies
    </div>
  </nav>
  